<div class="ill-patt-content">
  <div class="illustration"
  [ngStyle]="{'background-image': 'url(' + illustrationSrc + ')'}"></div>
  <div class="pattern with-pattern"></div>
  <div class="interspace"></div>
  <div class="text">
    <div class="section-header">
      <div class="header">
        {{header}}
      </div>
      <div class="desc">
        {{desc}}
      </div>
    </div>
    <div class="snart-desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nulla lorem, maximus ac lectus quis, vehicula tempus velit. Duis leo elit, malesuada vitae libero ut, consectetur efficitur mi.
    </div>
  </div>
</div>