.projects {
    a {
        font-size: 10px;
        color: #FFF !important;
        background-color: #2C5EE6 !important;
        width: auto !important;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
}