@import '../../sass/colors';

.top-bar {
    height: 98px;
    margin-bottom: 112px;
    position: relative;
    .logo-wrapper {
        background-color: #000;
        width: 152px;
        height: 152px;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
    }
}

.section-header {
    text-align: center;
}

.form-wrapper {
    max-width: 558px;
    padding: 0 14px;
    margin: 0 auto 56px;
    .row {
        display: flex;
        justify-content: space-between;
        & > div {
            width: 46%;
        }
    }
}

.type-of-account-header {
    font-size: 24px;
    line-height: 36px;
    font-family: ClanWebProNarrThin;
    margin-top: 30px;
}

button {
    margin: 38px auto 34px;
    letter-spacing: 1.5px;
    padding: 12px 20px;
}

.already-registered {
    margin-bottom: 34px;
    color: #ADADAC;
    &, button {
        font-family: ClanWebProNews;
        font-size: 12px;
        line-height: 16px;
    }
    button {
        text-decoration: underline;
        color: $blue;
        background: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        letter-spacing: 0;
    }
}

.switch-controller {
    .line.spacing {
        width: 26px;
        flex-shrink: 0;
    }
    .controll {
        font-size: 16px;
    }
}

/deep/ custom-input {
    width: 47%;
} 