<div class="become-partner right-content">
  <div class="block">
    <div class="section-header">
      <div class="header">
        Zostań<br>
        partenerem
      </div>
      <div class="desc">
        Dołącz do kilkuset firm przewozowych<br>
        i zdobywaj klientów na swoją flotę
      </div>
    </div>
    <button routerLink="/register" class="btn blue big">
      ZAŁÓŻ KONTO PRZEWOŹNIKA
    </button>
    <div class="pattern-rect with-pattern">
      <div class="mask"></div>
    </div>
  </div>
  <div class="image-wrapper">
    <img src="/assets/img/become-partner.png">
  </div>
</div>

<start-now></start-now>

<div class="left-content service-advantages">
  <div>
    <div class="section-header">
      <div class="header">
        Zalety serwisu
      </div>
      <div class="desc">
        Odpowiadaj na zlecenia transportowe
      </div>
    </div>
    <pictograms [pictograms]="pictograms"></pictograms>
  </div>
</div>

<div class="right-content how-it-works">
  <div class="center">
    <div class="section-header">
      <div class="header">
        Jak działa
      </div>
      <div class="desc">
        nasz system
      </div>
    </div>
    <div class="list">
      <div class="left">
        <img src="/assets/img/hit1.png">
      </div>
      <div class="right">
        <div class="item-content">
          <div class="item-number">1</div>
          <div>
            <div class="item-header">
              Wyszukiwanie ofert
            </div>
            <div class="item-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nulla lorem, maximus ac lectus quis, vehicula tempus velit. Duis leo elit, malesuada vitae libero ut, consectetur efficitur mi.
            </div>
          </div>
        </div>
      </div>
      <div class="left">
        <div class="item-content">
          <div class="item-number">2</div>
          <div>
            <div class="item-header">
              Odpowiadanie na przetarg
            </div>
            <div class="item-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nulla lorem, maximus ac lectus quis, vehicula tempus velit. Duis leo elit, malesuada vitae libero ut, consectetur efficitur mi.
            </div>
          </div>
        </div>
      </div>
      <div>
        <img src="/assets/img/hit2.png">
        <div class="pattern with-pattern"></div>
      </div>
      <div class="left">
        <img src="/assets/img/hit3.png">
      </div>
      <div class="right">
        <div class="item-content">
          <div class="item-number">3</div>
          <div>
            <div class="item-header">
              Zarządzanie flotą na żywo
            </div>
            <div class="item-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nulla lorem, maximus ac lectus quis, vehicula tempus velit. Duis leo elit, malesuada vitae libero ut, consectetur efficitur mi.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>


<bottom-element></bottom-element>