<div class="footer">
    <div class="content">
      <div>
        <a routerLink="/">
          <img src="/assets/img/logo-white.svg">
        </a>
        <div class="copy-right">
            2019 © Copyright Snarto. <br>
            Wszelkie prawa zastrzeżone
        </div>
      </div>
      <div>
        <div class="header">
          ZOBACZ RÓWNIEŻ
        </div>
        <div class="link-wrapper">
          <a href="#">O nas</a>
        </div>
        <div class="link-wrapper">
          <a href="#">Partnerzy</a>
        </div>
        <div class="link-wrapper">
          <a href="#">Kontakt</a>
        </div>
        <div class="link-wrapper">
          <a href="#">Support</a>
        </div>
      </div>
      <div>
        <div class="header">
          SNARTO
        </div>
        <div class="address">
          ul. przykladowa 21 <br>
          00-001 Warszawa
        </div>
      </div>
    </div>
</div>