<div class="container" *ngIf="messages">
    <div class="row decor-area"></div>
    <div class="row justify-content-center input-area middlearea">
        <div class="col-10">
            <ngb-alert *ngIf="resetPassOk" [type]="'success'">{{messages.reset_password_ok}}</ngb-alert>
            <ngb-alert *ngIf="emailNotExists" [type]="'warning'">{{messages.email_not_exists}}</ngb-alert>
        </div>
        <div class="col-4">
            <form #f="ngForm" (ngSubmit)="resetPasswordRequest(email.value, f.valid)" >
                <h3>{{messages.reset_password}}</h3>
                <div class="form-group">
                    <label class="form-label" for="email">{{messages.email}}</label>
                    <input name="email" #email ngModel class="form-control" required >
                </div>
                <button [disabled]="sending" type="submit" class="btn btn-primary" >
                    <i *ngIf="sending"  class="fa fa-circle-o-notch fa-spin fa-fw"></i> {{messages.reset}}</button>
                <a class="btn btn-warning" (click)="goBack()">{{messages.cancel}}</a>
            </form>
        </div>
    </div>
    <extended-footer></extended-footer>
</div>