<loader *ngIf="working"></loader>
<div class="container" *ngIf="messages">
    <div class="row decor-area"></div>
    <div class="row justify-content-center input-area middlearea">
        <div class="col-10">
            <ngb-alert *ngIf="tokenError" [type]="'danger'">{{messages.token_error}}</ngb-alert>
            <ngb-alert *ngIf="passNotEqual" [type]="'warning'">{{messages.pass_not_equal}}</ngb-alert>
            <ngb-alert *ngIf="passFormatInvalid" [type]="'warning'">{{messages.pass_invalid}}</ngb-alert>
        </div>
        <div class="col-4" *ngIf="messages">
            <h3>{{messages.reset_password}}</h3>
            <div class="form-group">
                <label class="form-label" for="pass">{{messages.new_password}}</label>
                <input id="pass" type="password" #new class="form-control" required/>
                <div *ngIf="new.touched && passFormatInvalid" class="form-control-feedback">{{messages.pass_format_invalid}}</div>
            </div>
            <div class="form-group">
                <label class="form-label" for="repeat">{{messages.repeat_password}}</label>
                <input id="repeat" type="password" #repeat class="form-control" required/>
            </div>
            <button class="btn btn-primary" (click)="resetPassword(new.value, repeat.value)">
                <i [ngClass]="(sending)?'fa fa-circle-o-notch fa-spin fa-fw':'fa fa-user'" aria-hidden="true"></i> {{messages.change_password}}
            </button>
            <a [routerLink]="['/register']" class="btn btn-warning">{{messages.cancel}}</a>
        </div>
    </div>
    <extended-footer></extended-footer>
</div>