<div class="container" style="padding-top:20px;">
  <div class="row"><div class="col-3">28/08/2017 4</div><div class="col-8">odświeżanie notyfikacji w czasie rzeczywistym</div> </div>       
  <div class="row"><div class="col-3">28/08/2017 3</div><div class="col-8">odświeżanie wiadomości w czasie rzeczywistym</div> </div>       
  <div class="row"><div class="col-3">28/08/2017 2</div><div class="col-8">filtrowanie po kategorii</div> </div>       
  <div class="row"><div class="col-3">28/08/2017 1</div><div class="col-8">obsługa ogłoszeń w czasie rzeczywistym, najlepiej przetestować na dwóch różnych przeglądarkach, obserwować, co będzie jak pojawi się nowa oferta, lub ogłoszenie zostanie uaktualnione, lub gdy użytkownik zaakceptuje ofertę</div></div>
  <div class="row"><div class="col-3">&nbsp;</div><div class="col-8">&nbsp;</div></div>
  <div class="row"><div class="col-3">18/08/2017 2</div><div class="col-8">bugfixy, notyfikacje, </div> </div>   
  <div class="row"><div class="col-3">18/08/2017 1</div><div class="col-8">Rejestracja - wybieranie profili</div>    
  <div class="row"><div class="col-3">&nbsp;</div><div class="col-8">&nbsp;</div></div>
  <div class="row"><div class="col-3">16/08/2017 1</div><div class="col-8"></div>Dokończenie funkcjonalności dysponenta</div>  
  <div class="row"><div class="col-3">&nbsp;</div><div class="col-8">&nbsp;</div></div>
  <div class="row"><div class="col-3">09/08/2017 2</div><div class="col-8">historia zleceń dla danego pojazdu</div></div>  
  <div class="row"><div class="col-3">09/08/2017 1</div><div class="col-8">automatyczna zmiana statusu w zależności od aktualnej daty i daty zlecenia. !UWAGA trzeba solidnie przetestować na produkcyjnym serwerze zważając na czas zwracany przez serwer mysql i apache</div></div>  
  <div class="row"><div class="col-3">&nbsp;</div><div class="col-8">&nbsp;</div></div>
  <div class="row"><div class="col-3">08/08/2017 3</div><div class="col-8">filtrowanie floty</div></div>  

  <div class="row"><div class="col-3">08/08/2017 2</div><div class="col-8">dodawanie kategorii do Floty - trzeba upiększyć. Poza tym, czy auto jest np. cysterną, teraz dodano jakie kategorie przesyłek może obsługiwać, np. przewóz samochodów</div></div>  
  <div class="row"><div class="col-3">08/08/2017 1</div><div class="col-8">użytkownik widzi tylko część systemu do której ma dostęp, np. customer, lub company</div></div>
  <div class="row"><div class="col-3">&nbsp;</div><div class="col-8">&nbsp;</div></div>

  <div class="row"><div class="col-3">07/08/2017 4</div><div class="col-8">pracownicy - dokończenie rejestracji przez zaproszonego pracownika. Gdy jesteś zalogowany w systemie po kliknięciu na link będziesz wylogowany zamiast pokazać formatkę dokończenia rejestracji.</div></div>
  <div class="row"><div class="col-3">07/08/2017 3</div><div class="col-8">pracownicy - zapraszanie pracowników do systemu, pomienięte są role, bo nie mamy narazie kierowców, bo nie ma aplikacji mobilnej.</div></div>
  <div class="row"><div class="col-3">07/08/2017 2</div><div class="col-8">messaging - auto odświeżanie numeru nieprzeczytanych wiadomości w menu</div></div>
  <div class="row"><div class="col-3">07/08/2017 1</div><div class="col-8">messaging - nie patrzeć narazie na wygląd</div></div>
  <div class="row"><div class="col-3">&nbsp;</div><div class="col-8">&nbsp;</div></div>
  <div class="row"><div class="col-3">01/08/2017 2</div><div class="col-8">fix na złą listę zleceń w firmie transportowej</div></div>
  <div class="row"><div class="col-3">01/08/2017 1</div><div class="col-8">Funkcjonalność akceptacji zlecenia u klienta indywidualnego</div></div>
</div>
