
<div class="intro right-content">
  <div class="section-header">
    <div class="header">
      Zobacz<br>
      jak to działa
    </div>
    <div class="desc">
      Lorem ipsum dolor sit amet
    </div>
    <div class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nulla lorem, maximus ac lectus quis, vehicula tempus velit. Duis leo elit, malesuada vitae libero ut, consectetur efficitur mi.
    </div>
  </div>
  <div class="illustration"></div>
</div>

<div class="clear"></div>

<div class="pipeline">
  <start-now></start-now>
</div>

<start-now [withoutButton]="true" [withIllustrations]="true"></start-now>

<faq></faq>

<bottom-element [isForCustomer]="true"></bottom-element>