
<!-- <h4>Ze Snarto możesz być pewien zarobku</h4>
<p>Wółpraca z nami to gwarancja bezpieczeństwa. Weryfikujemy zleceniodawców, dzięki czemu możesz mieć pewność, że za dowiezienie ładunku na miejsce, otrzymasz wcześniej ustalone wynagrodzenie.</p>
<p>Nie handlujemy ładunkami, a platformę udostępniamy Ci bez naliczania opłat. Skorzystaj z możliwości, jakie Ci dajemy – dodatkowe zlecenia masz w zasięgu ręki.</p> -->

<div class="partner-ship right-content">
  <div class="left">
    <div>
      <div class="section-header">
        <div class="header">
          Wymagania dla przewoźników
        </div>
        <div class="desc">
          Lorem Ipsum dolor sit amet
        </div>
      </div>
      <div class="text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nulla lorem, maximus ac lectus quis, vehicula tempus velit. Duis leo elit, malesuada vitae libero ut, consectetur efficitur mi.
        </p>
        <p>
          Aliquam nec ex volutpat, molestie lorem et, ultrices sapien. Cras cursus lobortis auctor. Nam feugiat, elit at dictum feugiat, diam est imperdiet sem, at tincidunt ipsum urna at arcu. Fusce luctus nunc a dui posuere facilisis. Etiam ut vehicula mi.
        </p>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="pattern-rect with-pattern"></div>
  </div>
</div>
<div class="clear"></div>

<div class="basic-requirements">
  <div class="content">
    <div class="section-header">
      <div class="header">
        Podstawowe wymagania
      </div>
      <div class="desc">
        Każdy może zostać przewoźnikiem, istnieje jednak kilka wymogów. Należy:
      </div>
    </div>
    <pictograms [pictograms]="pictograms"></pictograms>
  </div>
</div>

<div class="required-docs">
  <div class="content">
    <div class="section-header">
      <div class="header">
        Wymagane dokumenty
      </div>
      <div class="desc">
        Zanim wyruszysz w trasę, prześlij nam następujące dokumenty:
      </div>
    </div>
    <div class="list">
      <div>
        <div class="enumeration-item">
          <div class="item-number">1</div>
          <span>Ważne prawo jazdy</span>
        </div>
        <div class="enumeration-item">
          <div class="item-number">2</div>
          <span>Dowód rejestracyjny pojazdu</span>
        </div>
        <div class="enumeration-item">
          <div class="item-number">3</div>
          <span>Dowód ubezpieczenia pojazdu</span>
        </div>
      </div>
      <div>
        <div class="enumeration-item">
          <div class="item-number">4</div>
          <span>Co innego</span>
        </div>
        <div class="enumeration-item">
          <div class="item-number">5</div>
          <span>...i wiele innych</span>
        </div>
      </div>
    </div>
  </div>
  <div class="pattern with-pattern"></div>
</div>

<img class="tracks" src="/assets/img/tracks.png">

<!-- <a href="https://app.snarto.com" class="btn btn-outline-primary">Zarejestruj się</a> -->
<start-now [withSectionHeader]="true" ></start-now>
<bottom-element></bottom-element>