<div class="container" *ngIf="messages">
    <div class="row decor-area"></div>
    <div class="row middlearea">
        <div class="col-12 d-flex justify-content-center">
            <ul class="nav nav-pills card-header-pills">
                <li *ngIf="!registeredFromLanding" class="nav-item">
                    <a (click)="showCompany=false" [ngClass]="showCompany?'nav-link pointer':'nav-link active pointer'">{{messages.customer}}</a>
                </li>
                <li *ngIf="!registeredFromLanding" class="nav-item">
                    <a (click)="showCompany=true" [ngClass]="showCompany?'nav-link active pointer':'nav-link pointer'">{{messages.company}}</a>
                </li>
                <li class="nav-item" style="margin-left:3rem;">
                    <a (click)="logout()" class="nav-link background-warning pointer">{{messages.logout}}</a>
                </li>
            </ul>
        </div>
        <div class="col-12">
            <setup-customer-profile *ngIf="!showCompany"></setup-customer-profile>
            <setup-company-profile *ngIf="showCompany"></setup-company-profile>
        </div>
    </div>
    <extended-footer></extended-footer>
</div>